<div class="p-grid p-nogutter">
    <div class="p-col-fixed" style="width: 150px; background-color:rgb(189,28,28);display: inline-block">
        <a href="about">
            <h5>1.OSNOVNA SREDSTVA</h5>
        </a>
        <a href="about">
            <h5>2.OBRTNA SREDSTVA</h5>
        </a>
        <a href="about">
            <h5>3.TEKUĆA LIKVIDNOST </h5>
        </a>
        <a href="about">
            <h5>4.PROJEKAT</h5>
        </a>
        <a href="about">
            <h5>5.DOKUMENTARNO POSLOVANJE</h5>
        </a>
    </div>

    <div class="p-col" style="background-color:white; height: 600px; overflow: hidden; position: relative;">
        <img src="https://www.armytimes.com/resizer/wDj_OEsvqJQKhnZhFTTpXpY-KLs=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/VRODLMZXPJH5ZPPWUUYYAIDXNA.jpg" alt="Biznis"
            style="width: 100%; height: 100%; object-fit: cover;">
        <div class="centered">
        <h2>Svrha finansiranja</h2>
       
        </div>
        <div class="c2">
         <p>Načini i modeli finansiranja, podrška poslovanju..</p>
            </div>
    </div>


</div>
