<div class="p-grid p-nogutter">
    <div class="p-col-fixed" style="width: 150px; background-color:rgb(189,28,28);display: inline-block">
        <a href="about">
            <h5>ELEMENTI DOBRE KOMUNIKACIJE</h5>
        </a>
        <a href="about">
            <h5>BITI ČOVJEK BITI PRODAVAČ</h5>
        </a>
        <a href="about">
            <h5>TOK VOĐENJA PRODAJNOG RAZGOVORA </h5>
        </a>
        <a href="about">
            <h5>CILJ-ZADOVOLJAN KUPAC</h5>
        </a>
    </div>

    <div class="p-col" style="background-color:white; height: 600px; overflow: hidden; position: relative;">
        <img src="https://www.nbc.ca/content/dam/fragment/images/ten-reasons-internet-banking-opt.jpg" alt="Biznis"
            style="width: 100%; height: 100%; object-fit: cover;">
        <div class="centered">
            Vodič za prodaju
        </div>
        <div class="c1">
           <p>Upustva i smjernice za prodaju proizvoda Banke fizičkim licima.</p>
        </div>


    </div>


</div>