

<header>
    <img src="https://www.poslovnaucinkovitost.eu/images/uploads/uni-credit-banja-luka.jpg" alt="Biznis"
    style="width: 20%; height: 40px; object-fit: cover;">
  <nav>
    <a routerLink="/home">Fizička</a>
    <a  routerLink="/pravna">Pravna</a>
    <!--
    <a routerLink="/svrha">Svrha</a>   
    <a routerLink="/ostalo">Ostalo</a>
     <a  routerLink="/about">About</a>
    <a routerLink="/insourance">Insourance</a>   
    <a routerLink="/claims">Claims</a>
      <a routerLink="/vodicp">VodicPravna</a>
    -->
    

  </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer></footer>


